@import "tailwindcss";

/* ===== Tema Claro ===== */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #517EF5;
  --secondary: #F5D951;
  --accent: #1E40AF;
  --border: #E5E7EB;
  --success: #22C55E;
  --error: #EF4444;
  --warning: #FACC15;
  --info: #3B82F6;

  --font-titulo: var(--font-vollkorn);
  --font-subtitulo: var(--font-flamenco);
  --font-parrafo: var(--font-padauk);
}

/* ===== Tema Oscuro ===== */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #517EF5;
  --secondary: #F5D951;
  --accent: #93C5FD;
  --border: #27272A;
  --success: #4ADE80;
  --error: #F87171;
  --warning: #FDE047;
  --info: #60A5FA;
}

.font-titulo {
  font-family: var(--font-titulo);
}
.font-subtitulo {
  font-family: var(--font-subtitulo);
}
.font-parrafo {
  font-family: var(--font-parrafo);
}

/* ===== Estilos Globales ===== */
html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-parrafo);
}
